<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container-fluid">
  <div class="row my-4 header-title">
    <h2>Mosque List</h2>
    <hr class="m-0" />
  </div>
</div>

<div class="container">
  <div *ngIf="this.user_type.role == 'super_admin'" class="row my-4">
    <div class="col-md 12 d-flex justify-content-between align-items-center">
      <button
        mat-raised-button
        class="create-user-btn text-white"
        (click)="navigateToMosqueForm('create', '')"
      >
        Create Mosque <mat-icon>add</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="search-user">
        <mat-label>Search Mosque</mat-label>
        <input
          [readonly]="false"
          matInput
          (keyup)="applyFilter($event)"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md 12">
      <div>
        <table
          mat-table
          [dataSource]="mosqueListDataSource"
          matSort
          class="mat-elevation-z8 user-list-table"
        >
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by name"
            >
              Mosque Name
            </th>
            <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
          </ng-container>

          <ng-container matColumnDef="mobile_number">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by mobile_number"
            >
              Mobile No
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.mobile_number }}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by email"
            >
              Email
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.users[0]?.email }} <br />
              {{ element?.users[1]?.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="mosque_address">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by mosque_address"
            >
              Address
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.mosque_address }}
            </td>
          </ng-container>

          <ng-container matColumnDef="is_active">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by is_active"
            >
              Activate / Deactivate
            </th>
            <td mat-cell *matCellDef="let element">
              <!-- <button mat-icon-button class="act-deact-btn" >Activate</button> -->
              <button
                mat-stroked-button
                [ngClass]="element?.is_active ? 'active-btn' : 'deactive-btn'"
                (click)="toggleActive(element)"
              >
                {{ element?.is_active ? "Activated" : "Deactivated" }}
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              sortActionDescription="Sort by symbol"
            >
              Action
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="action-btns">
                <button
                  mat-icon-button
                  class="edit-btn"
                  (click)="navigateToMosqueForm('edit', element._id)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  *ngIf="this.user_type.role == 'super_admin'"
                  mat-icon-button
                  class="delete-btn"
                  (click)="deleteMosque(element)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="mosqueListDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: mosqueListDisplayedColumns"
          ></tr>
        </table>
      </div>
      <mat-paginator
        [pageSize]="mosqueTablePagination.pageSize"
        [length]="5"
        [pageIndex]="mosqueTablePagination.pageIndex"
        [pageSizeOptions]="mosqueTablePagination.pageSizeOptions"
        (page)="onPaginateChange($event)"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
        class="mat-paginator"
      >
      </mat-paginator>
    </div>
  </div>
</div>
