<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="container-fluid">
  <div *ngIf="FPStage == 'mailVerify'" class="row mail-verify-div">
    <div class="col-md-2 col-lg-4"></div>
    <div class="col-md-8 col-lg-4">
      <mat-card class="mail-verify-card">
        <mat-card-header class="mail-verify-card-header">
          <mat-card-title>Find Your Account</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="mail-verify-card-content">
          <form [formGroup]="FPMailVerifyForm" #FPMailVerifyFormDirective="ngForm"
            (ngSubmit)="submitMailVerify(FPMailVerifyFormDirective)">
            <div class="row">
              <div class="col-md-12">
                <p>
                  Please enter your email address to search for your account.</p>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput required formControlName="email">
                  <mat-error *ngIf="FPMailVerifyForm.controls['email'].value == ''">Email is required</mat-error>
                  <mat-error
                    *ngIf="FPMailVerifyForm.controls['email'].status == 'INVALID' && FPMailVerifyForm.controls['email'].value != ''">
                    Invalid Email Address</mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-card-actions class="mail-verify-card-actions">
              <div class="button row">
                <div class="col-sm-4 col-md-6">
                  <!-- <a class="log-link" routerLink="/login">Back to login ? </a> -->
                </div>
                <div class="col-sm-8 col-md-6 text-end">
                  <button type="button" class="cancel" mat-button><a class="log-link"
                      routerLink="/login">Cancel</a></button>
                  <button type="submit" mat-button>Continue</button>
                </div>
              </div>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
      <div>
        <img src="../../../assets/images/logo1.jpg" alt="" style="width:100% ;" class="footer_image">
      </div>
    </div>
    <div class="col-md-2 col-lg-4"></div>
  </div>


  <div *ngIf="FPStage == 'otpVerify'" class="row otp-verify-div">
    <div class="col-md-2 col-lg-4"></div>
    <div class="col-md-8 col-lg-4">
      <mat-card class="otp-verify-card">
        <mat-card-header class="otp-verify-card-header">
          <mat-card-title>Enter security code</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="otp-verify-card-content">
          <form [formGroup]="FPOTPVerifyForm" #FPOTPVerifyFormDirective="ngForm"
            (ngSubmit)="submitOTPVerify(FPOTPVerifyFormDirective)">
            <div class="row">
              <div class="col-md-12">
                <p>Please check your mail for a text message with your code. Your code is 6 characters in length.</p>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>OTP</mat-label>
                  <input type="text" maxlength="6" matInput formControlName="otp">
                  <mat-error *ngIf="FPOTPVerifyForm.controls['otp'].value == ''">OTP is required</mat-error>
                  <!-- <mat-error *ngIf="FPOTPVerifyForm.controls['otp'].status == 'INVALID' && FPOTPVerifyForm.controls['otp'].value != ''">Invalid OTP</mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <p class="mt-1 mb-1">We sent your code to:</p>
                <div>{{ UserDetails?.email}}</div>
              </div>
            </div>
            <mat-card-actions class="otp-verify-card-actions">
              <div class="button row">
                <div class="col-sm-4 col-md-6">
                  <!-- <a class="log-link" routerLink="/login">Back to login ? </a> -->
                </div>
                <div class="col-sm-8 col-md-6 text-end">
                  <button type="button" class="cancel" mat-button><a class="log-link"
                      routerLink="/login">Cancel</a></button>
                  <button type="submit" mat-button>Continue</button>
                </div>
              </div>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
      <div>
        <img src="../../../assets/images/logo1.jpg" alt="" style="width:100% ;" class="footer_image">
      </div>
    </div>
    <div class="col-md-2 col-lg-4"></div>
  </div>


  <div *ngIf="FPStage == 'resetPassword'" class="row reset-pass-div">
    <div class="col-md-2 col-lg-4"></div>
    <div class="col-md-8 col-lg-4">
      <mat-card class="reset-pass-card">
        <mat-card-header class="reset-pass-card-header">
          <mat-card-title>Enter New Password</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="reset-pass-card-content">
          <form [formGroup]="FResetPasswordForm" #FResetPasswordFormDirective="ngForm"
            (ngSubmit)="submitResetPassword(FResetPasswordFormDirective)">
            <div class="row">
              <div class="col-md-12">
                <p>Create a new password that is at least 6 characters long. A strong password has a combination of
                  letters, digits and punctuation marks.</p>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input [type]="showNewPassword ? 'text' : 'password'" name="password" matInput required
                    formControlName="new_password">
                  <mat-icon matSuffix (click)="togglePasswordVisibility('new_password')">
                    {{showNewPassword?'visibility':'visibility_off'}}</mat-icon>
                  <mat-error
                    *ngIf="FResetPasswordForm.controls['new_password'].hasError('minlength') && !FResetPasswordForm.controls['new_password'].hasError('required')">
                    Minimum password length is 6</mat-error>
                  <mat-error *ngIf="FResetPasswordForm.controls['new_password'].hasError('required')">New Password is
                    required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input [type]="showConfirmPassword ? 'text' : 'password'" name="password" matInput
                    formControlName="confirm_password">
                  <mat-icon matSuffix (click)="togglePasswordVisibility('confirm_password')">
                    {{showConfirmPassword?'visibility':'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="FResetPasswordForm.controls['confirm_password'].value == ''">Confirm Password is
                    required</mat-error>
                  <mat-error
                    *ngIf="FResetPasswordForm.controls['confirm_password'].value != '' && FResetPasswordForm.controls['confirm_password'].errors?.['MatchPassword']">
                    Password does not match</mat-error>
                </mat-form-field>
              </div>
            </div>
            <mat-card-actions class="reset-pass-card-actions">
              <div class="button row">
                <div class="col-sm-4 col-md-6">
                  <!-- <a class="log-link" routerLink="/login">Back to login ? </a> -->
                </div>
                <div class="col-sm-8 col-md-6 text-end">
                  <button type="button" class="cancel" mat-button><a class="log-link"
                      routerLink="/login">Cancel</a></button>
                  <button type="submit" mat-button>Continue</button>
                </div>
              </div>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
      <div>
        <img src="../../../assets/images/logo1.jpg" alt="" style="width:100% ;" class="footer_image">
      </div>
    </div>
    <div class="col-md-2 col-lg-4"></div>
  </div>
</div>