
mat-form-field 
    width: 100%
    
.login-section 
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    .login-btn
        // background: linear-gradient(140deg, red, blue)
        background: linear-gradient(180deg, #ff4848, #ff4848)
        border: none
        padding: 5px 5px
        color: white
        width: 30%
        border-radius: 5px

.login-card
    // width: 30%
.login-card-header
    justify-content: center
.login-card-content    
    padding-top: 1.3rem
.login-card-actions    
    margin: 0
.login-div
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    // background: linear-gradient(140deg, red, blue)
    // background: linear-gradient(180deg, #000000, #030040)
    background: linear-gradient(90deg, #ef5555, #fac1c1)

.sign-link
    text-decoration: none

.forget-link    
    text-decoration: none

.falah-font
    font-family: falahFont

.moque-wallpaper 
    background-image: url(/assets/images/moque_wallpaper.jpg)
    background-repeat: no-repeat
    background-origin: content-box
    background-position: center
    background-size: cover